.bottom-nav-container {
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5%; 
    /* min-height: 72px; */
    min-height: 4.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botton-nav {
    position: relative;
}

.bottom-nav-box {
    width: 22em ;
}
  
.bottom-nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    /* height: 100%; */
    padding: 0;
    margin: 0;
    position: relative;
    /* width: 24em; */
}

.bottom-nav li {
    flex: 1;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    color: #65676b;
    /* width: 12em; */
}

.bottom-nav li.active {
    font-weight: bold;
    color: #1876f2;
}

.nav-button-img {
    width: 28%; 
    max-width: 200px;
}

