.header-tab {
    top: 0px;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh; 
    /* min-height: 72px; */
    min-height: 4.5em;
    display: flex;
    align-items: center;
}

.account-tab {
    justify-content: space-around;
}

.header-tab-box {
    display: flex;
    flex-direction: row;
    width: 30em;
    justify-content: space-between;
}

.close-btn {
    cursor: pointer;

}

.close-button-img {
    width: 2em;
    margin: auto;
}

.btn-placeholder {
    visibility: hidden;
}