.header-tab {
    top: 0px;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5%; 
    /* min-height: 72px; */
    min-height: 4.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}