.job-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    padding: 1em;
    text-align: center;
    width: 20em;
    height: 35em;
    border-radius: 30px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .job {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 5px auto;
    width: 90%;
    max-width: 20em;
    min-height: 380px;
    max-height: 550px;
  }

  .button-container {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .swipe-btn {
    display: flex;
    cursor: pointer;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  
  .job-title {
    text-align: left;
    margin-top: 0.3em;
    font-size: 1.8em;
    margin-bottom: 0;
  }
  
  .company {
    font-size: 1.3em;
    margin-top: 0;
  }
  
  .break {
    width: 100%;
    border-bottom: 1.25px solid #C3C3C3;
    margin-top: 0.7em;
  }
  
  .other-attributes {
    margin: 0.85em 0 0.6em 0;
  }
  
  .location {
    margin-bottom: 0;
  }
  
  .description-box {
    overflow: auto;
    position: relative;
    padding: 0;
    text-align: start;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }