@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;900&family=Varela+Round&display=swap');
.login-container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.login-container .div {
  background-color: #ffffff;
  width: 390px;
  /* margin-top: 40px; */
}

.label {
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label .login {
  color: #00a7a6;
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-top: 180px;
}


.form input {
  background-color: #EFEFEF;
  border: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.02) inset;
  border-radius: 30px;
  width: 275px;
  height: 28px;
  padding: 12px 20px;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  color: #C3C3C3;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.form input:not(:placeholder-shown) {
  color: #000; /* Change text color to black when there is content */
}

.email-field, .password-field {
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.email-field {
  background-image: url('../img/Email.png');

}

.password-field {
  background-image: url('../img/password.png');
}

.email-field:focus, .password-field:focus {
  border: 1px solid #00A7A6;
}

.forgot-password {
  color: #00a7a6;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  position: relative;
  margin-top: 2px;
  margin-left: 150px;
}

.sign-in {
  background-color: #00A7A6;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-family: 'Varela Round', sans-serif;
  font-size: 24px;
  font-weight: 500;
  height: 57px;
  width: 304px; 
  position: relative;
  margin-top: 150px;
  align-self: center;
}

.sign-up {
  color: #00A7A6;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
}

.sign-up::before {
  color: #0D1929;
  content: "Don't have an account? ";
}

.sign-in-button:hover {
  background-color: #0b6e6e;
}
