body {
    background-color: #efefef;
}

.header-tab {
    position: absolute;
}

.header-placeholder {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container {
    /* display: visible !important; */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    height: 100vh;
    background-color: #efefef;
    padding: 2em 0;
    /* overflow: scroll; */
}

.profile-box {
    display: flex;
    flex-direction: column; 
    /* padding: 20px; */
    text-align: center;
    align-items: center;
    /* max-width: 300px !important; */
    /* width: 90%; Adjust as needed */
    /* height: 60%;
    min-height: 450px;
    max-height: 500px; */
    width: 20em
}

.profile-picture-box {
    position: relative;
    top:0;
    left:0;
}

.profile-picture {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.edit-btn {
    position: absolute;
    top: 110px;
    left: 190px;
    cursor: pointer;
}

.edit-btn-img {
    width: 35px;
}
  
.profile-name {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0 20px;
}
 
 #resume-upload-btn {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }
  
.resume-upload {
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
    background: #00A7A6;
    color: white;
    padding: 10px 72px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    justify-content: center;
    /* align-items: center; */
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

.resume-info {
    /* overflow: auto; */
    display: flex;
    flex-direction: column;
}
  
.sub-info {
    display: flex;
    flex-direction: column; 
    /* margin: 20px; */
    padding: 0.7em 0;
    margin: 2px 0;
    text-align: start;
    width: 22em;
}

.sub-info-title h4 {
    margin: 0.7em 0;
    /* display: flex; */
}

.sub-info-description {
    background-color: #ffffff;
    padding: 1em;
    border-radius: 10px;

}

.sub-info-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%
}

.tag {
    background-color: #ffffff;
    margin: 0 12px 4px 0;
    padding: 5px 16px;
    border-radius: 5px;
}

.sub-info-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 1.5em;
    justify-content: flex-end;
    padding: 0
}


.add-button-img {
    width: 100%;
}


@media (max-width: 780px) {
    .profile-container {
        height: 150dvh
    }
    .profile-box {
        height: 32em;
        width: 19.5em;

    }
}
@media (min-width: 1800px) {
    .profile-box {
        height: 50em;
    }
    .resume-info {
        /* overflow: auto; */
        width: 25em;
    }
    .sub-info {
        width: 100%
    }
}